@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

/*CABEÇALHO*/

header {
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;

}

header h1 {
    color: orangered;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

/*SECTION 1*/

.inicio {
    display: flex;
    align-items: center;
    padding: 40px 8%;
    justify-content: center;
    min-height: 90vh;
}

.inicio-objetivo {
    max-width: 700px;
}

.inicio-objetivo h2 {
    color: orangered;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 40px;
}

.inicio-objetivo p {
    color: white;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px;

}

img {
    width: 400px;
    margin-left: 200px;
}
/*SERCTION 2*/
.servicos {
    text-align: center;
    padding: 80px 8%;
}

.servicos h2 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 50px;
    color: orangered;
}

.cards {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 30px;
    border-radius: 14px;
    background-color: orangered;
    cursor: pointer;
}

.card :hover {
    transform: translateY(-8px);
}

.imagem {
    font-size: 30px;
}

.card h3 {
    margin: 20px 0;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.card p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: black
}
/*SECTION 3*/
.conhecer {
    text-align: center;
    padding: 80px 8%;
}

.conhecer h2 {
    color: orangered;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 600;
}

.conhecer p {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
}

.botao {
    display: inline-block;
    background-color: orangered;
    text-decoration: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
/*RODAPÉ*/
footer {
    color: orangered;
    text-align: center;
    padding: 20px;
    background-color: #0f172a;

}

/*RESPOSIVIDADE CELULAR*/
@media screen and (max-width: 1250px) {

    /*CABEÇALHO*/
    header h1 {
        margin-bottom: 4px;

    }


    nav {
        display: none;
    }

    /*SECTION 1*/
    .inicio {
        flex-direction: column;

    }

    img {
        margin-left: 10px;
        width: 100%;
    }

    /*SECTION 2*/

    .cards {
        flex-direction: column;
        align-items: center;
    }
}
